<%=stylesheet_link_tag "Forgot.css" %>
<div id="Forgoter" class="container">
  <div id="Forgot_edit" class="container">
    <h2>
      Find<strong>Mypassword</strong>
    </h2>
  </div>
  <div id="Forgot_user" class="container">
    <div class="form-horizontal">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <div id="form_label_change" class="col-md-2 col-md-push-2" >
              <label class="control-label">Email</label>
            </div>
            <div class="col-md-4 col-md-push-2">
              <%= f.email_field :email, :placeholder=>'Email',autofocus: true %>
            </div>
            <div id="attention" class="col-md-4 col-md-push-2">
              <h5>Input your register email</h5>
            </div>
          </div>
           <div class="form-group">
            <button id="Forgot_btn" type="button" class="btn btn-default  col-md-4 col-md-push-4">
              <%= f.submit "Reset password " %>
            </button>
          </div>
      <% end %>
      <div class="form-group">
        <div class="  col-md-4 col-md-push-4">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
