<%=stylesheet_link_tag "Log.css" %>
<div id="Login" class="container">
  <div id="Login_edit" class="container">
    <h2>
      User<strong>Login</strong>
    </h2>
  </div>
  <div id="Login_user" class="container">
      <div class="form-horizontal">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
                  <div class="col-md-2 col-md-push-2" >
                      <label class="control-label" >User</label>
                  </div>
                  <div  class="col-md-4 col-md-push-2" >
                      <%= f.text_field :login,:placeholder=>'Email/Phone number', autofocus: true %>
                  </div>
            </div>
            <div class="form-group">
                  <div class="col-md-2 col-md-push-2" >
                    <label class="control-label" >Password</label>
                  </div>
                  <div  class="col-md-4 col-md-push-2" >
                    <%= f.password_field :password, :placeholder=>'Your Password',autocomplete: "off" %>
                  </div>
            </div>
            <div class="form-group">
                    <% if devise_mapping.rememberable? -%>
                        <div class="col-md-3 col-md-push-4" >
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                    <% end -%>
            </div>
            <div class="form-group">
              <div id="Login_btn"  class="btn btn-default  col-md-4 col-md-push-4">
                <%= f.submit "Log in" %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-4 col-md-push-4">
                <%= render "devise/shared/links" %>
              </div>
            </div>
        <% end %>
      </div>
  </div>
</div>