<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Xenon Boostrap Admin Panel" />
  <meta name="author" content="" />


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'admin/sidebar.min' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin/dropdown.min' %>
  <%= javascript_include_tag 'admin/sidebar.min' %>
  <%= javascript_include_tag 'admin/modal.min' %>


  <%= csrf_meta_tags %>


  <style type="text/css">
    body {
        background-color: #DADADA;
        margin-top: 100px;
    }
    body > .grid {
        height: 100%;
    }
    .image {
        margin-top: -100px;
    }
    .column {
        max-width: 450px;
    }
</style>
  </head>
<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui teal image header">
      <%= image_tag 'logo.png',:size=>'133x40',:class=>'image' %>


      <div class="content">
        登陆进入管理界面
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large teal submit button">登陆</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      没有账号? <a href="#">注册</a>
    </div>
  </div>
</div>
</body>