<br />
<h1 class="ui top attached header">用户列表</h1>
<div class="ui attached segment">
  <table class="ui selectable inverted table">
    <thead>
    <tr>
      <th>编号</th>
      <th>用户名</th>
      <th>邮箱</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            <% @count+=1 %>
            <td><%= @count %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= link_to '详细信息',{controller:'admin/users',action:'show',id:user.id },class:'mini ui inverted blue basic button' %>
              <%= link_to '删除',{controller:'admin/users',action:'delete',id:user.id },data: { confirm: '确定要删除该用户吗?' },:class =>'mini inverted red ui button'%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br />