<%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
            <% @order.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :姓名 %><br>
      <%= f.text_field :user_name %>
    </div>
    <div class="field">
      <%= f.label :邮箱 %><br>
      <%= f.email_field :email %>
    </div>
    <div class="field">
      <%= f.label :地址 %><br>
      <%= f.text_field :address %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= select_tag(:pay_type, options_for_select([["Select a payment option", ""]] + Order::PAYMENT_TYPES)) %>
    </div>
    <div class="actions">
      <%= f.submit "确定"%>
    </div>
<% end %>
