# encoding:UTF-8
<%=stylesheet_link_tag "store_index.css" %>
<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<div id="mycar_container" class="container">
  <div id="mycar" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators ">
      <li data-target="#mycar" data-slide-to="0" class="active"></li>
      <li data-target="#mycar" data-slide-to="1" class=""></li>
      <li data-target="#mycar" data-slide-to="2" class=""></li>
      <li data-target="#mycar" data-slide-to="3" class=""></li>
    </ol>
    <div class="carousel-inner"  >
      <div class="item active" >
        <%= global_head1 %>
      </div>
      <div class="item" >
        <%= global_head2 %>

      </div>
      <div class="item">
        <%= global_head3 %>
      </div>
      <div class="item">
        <%=image_tag ('Page4.jpg')%>
      </div>
    </div>
    <a class="left carousel-control  " href="#mycar" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" ></span>
    </a>
    <a class="right carousel-control " href="#mycar" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
  </div>
</div>

<div id="Product" class="container">
  <div id="Recommend">
    <h1>
      <strong>不同推荐</strong>
    </h1>
    <h4>
      这么多与众不同的3D打印设计，来一个呗
    </h4>
  </div>
  <% @products.each do |product| %>
      <div class="P_1 col-md-3">
        <div id="each_product" >
          <%= link_to product_path(product) do %>
              <span class="P_icon">
                <h4><strong><%= product.title %></strong></h4>
                <h5><%= sanitize(product.description) %></h5>
                <h5>——————————</h5>
                 <h5 class="price">
                   <strong>
                     <%= number_to_currency(product.price, unit: "￥:") %>
                   </strong>
                 </h5>
              </span>
              <%= product_entire(product.id) %>
          <% end %>
        </div>
      </div>
  <% end %>
</div>
<div class="container border_line">

</div>

<!--<input type="file" name="uploadFile" />-->


<div id="odds_all" class="container">
  <div id="Recommend">
    <h1>
      <strong>不同特惠</strong>
    </h1>
    <h4>
      嘿，点一下，可能会更便宜哦
    </h4>
  </div>
  <%=image_tag("odds.jpg", width:"100%")%>
</div>


<div id="rec_designer" class="container">
  <div id="Recommend">
    <h1>
      <strong>不同小伙伴</strong>
    </h1>
    <h4>
      他们和你一样，只是希望和别人多一点不同
    </h4>
  </div>
  <%=image_tag("Top.jpg", width:"100%")%>
  <div id="rec_designer_all" class="container">
    <div class="row">
      <div class="col-md-3" style="text-align:center">
        <%=image_tag("bottom.png", width:"150px")%>
      </div>
      <div id="rec_designer_describe" class="col-md-9">
        <h3>
          石溪
        </h3>
        <h5>
          美国哥伦比亚大学建筑学硕士，同时高额奖学金录取宾夕法尼亚大学。曾任职于UNStudio，Aedas等世界顶级设计事务所。现创立独立设计工作室，任上海交通大学建筑系客座导师。
        </h5>
      </div>
    </div>
  </div>

  <div id="rec_designer_product" class="row">
    <% @products.each do |product| %>
        <div class="P_1 col-md-3">
          <div id="each_product" >
            <%= link_to product_path(product) do %>
              <span class="P_icon">
                <h4><strong><%= product.title %></strong></h4>
                <h5><%= sanitize(product.description) %></h5>
                <h5>——————————</h5>
                 <h5 class="price">
                   <strong>
                     <%= number_to_currency(product.price, unit: "￥:") %>
                   </strong>
                 </h5>
              </span>
                <%= image_tag(product.image_url) %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div id="service" class="container">
  <div id="service_title">
    <h1>
      <strong>不同定制</strong>
    </h1>
    <h4>
      我们愿以自己的努力，助您变得与众不同
    </h4>
  </div>
  <%=image_tag("make_dif.jpg")%>
  <div class="btn_out">
    <div class="title_button ">
      <a href="javascript:;">
        开始定制
      </a>
    </div>
  </div>
</div>
<div id="workshop" class="container">
  <div id="workshop_title">
    <h1>
      <strong>不同工作室</strong>
    </h1>
    <h4>
      这里真的不知道怎么自夸，你还是来亲眼见证下吧
    </h4>
  </div>
</div>
<div id="workshop_container" class="container">
  <%=image_tag("workshop.jpg")%>
  <div class="btn_out ">
    <div class="title_button ">
      <a href="javascript:;">
        马上加入
      </a>
    </div>
  </div>
</div>