<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!--<link href="bootstrap.min.css" rel="stylesheet">-->
    <%= javascript_include_tag :"jquery-2.1.4.min.js" %>
    <%= javascript_include_tag :"bootstrap.min.js" %>
    <!--<link href="One.css" rel="stylesheet">-->
    <%=stylesheet_link_tag "One.css" %>
</head>
<body>
    <div class="container" id="one">
        <div id="title_up" class="row">
            <div class="col-md-5 col-md-push-7">
                <a class="Edit_title_up col-md-3" href="#">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    购物车0件
                </a>
                <a class="Edit_title_up col-md-4" href="#">
                    <span class="glyphicon glyphicon glyphicon-user"></span>
                    登陆/注册
                </a>
                <a class="Edit_title_up_right col-md-5" href="#">
                    <span class="glyphicon glyphicon glyphicon glyphicon-earphone"></span>
                    400-091-5180
                </a>
            </div>
        </div>
        <div id="title_row" class="row">
            <div class="col-md-7">
                <div class="col-md-3">
                    <a href="#">
                        <%= image_tag("Logo.jpg") %>
                    </a>
                </div>
                <div id="title_col" class="col-md-9 btn-group" role="group">
                    <button type="button" class="btn btn-default"><h4>全部商品</h4></button>
                    <button type="button" class="btn btn-default"><h4>合作设计师</h4></button>
                    <button type="button" class="btn btn-default"><h4>工作坊</h4></button>
                    <button type="button" class="btn btn-default"><h4>定制服务</h4></button>
                </div>
            </div>
            <div class="col-md-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div id="See_us"class="col-md-2">
                <button type="button" class="btn btn-default"><h4>关注我们：</h4></button>
            </div>
        </div>

        <div id="mycar" class="carousel slide" data-ride="carousel" style="width: 1200px">
            <ol class="carousel-indicators ">
                <li data-target="#mycar" data-slide-to="0" class="active"></li>
                <li data-target="#mycar" data-slide-to="1" class=""></li>
                <li data-target="#mycar" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner"  style="width: 1200px">
                <div class="item active" >
                    <%= image_tag("Page1.jpg") %>
                </div>
                <div class="item" >
                    <%= image_tag("Page2.jpg") %>
                </div>
                <div class="item">
                    <%= image_tag("Page3.jpg") %>
                </div>
            </div>
            <a class="left carousel-control  " href="#mycar" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" ></span>
            </a>
            <a class="right carousel-control " href="#mycar" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
    <div id="Product" class="container">
        <div id="Recommend">
            <h1>
                <strong>推荐设计/</strong>
                <strong>Recommend Design</strong>
            </h1>
        </div>
        <div class="row">
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("5.jpg",width:"100%")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                     </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("6.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("7.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("8.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("5.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("6.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("7.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("8.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("5.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("6.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("7.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
            <div class="P_1 col-md-3">
                <a href="#">
                    <%= image_tag("8.jpg")%>
                    <div class="P_icon">
                        <h4><strong>生系列戒指——枝</strong></h4>
                        <h5>Designed by XI </h5>
                        <h5>——————————</h5>
                        <h5><strong>￥：458.00</strong></h5>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>