<!-- START:head -->
<!DOCTYPE html>
<html>
<head lang="en">
  <!-- START_HIGHLIGHT -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
  <title>Pragprog Books Online Store</title>
  <!-- END_HIGHLIGHT -->
  <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag :"jquery-2.1.4.min.js" %>
  <%= javascript_include_tag :"bootstrap.min.js" %>
  <!--<link href="One.css" rel="stylesheet">-->
  <%=stylesheet_link_tag "One.css" %>
<body>
  <div class="container" id="one">
    <div id="title_up" class="row">
      <div class="col-md-5 col-md-push-7">
        <div class="Edit_title_up col-md-3" href="#">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          <a href="/store/display_cart">
            购物车<span id="total_product_num">0</span>件
          </a>
        </div>
        <div class="Edit_title_up col-md-4" href="#">
          <span class="glyphicon glyphicon glyphicon-user"></span>
          <% if current_user %>
              <%= link_to('退出', destroy_user_session_path, :method => :delete) %> |
              <%= link_to('修改密码', edit_registration_path(:user)) %>
          <% else %>
              <%= link_to('注册', new_registration_path(:user)) %> |
              <%= link_to('登录', new_session_path(:user)) %>
          <% end %>
        </div>
        <a class="Edit_title_up_right col-md-4" href="#">
          <span class="glyphicon glyphicon glyphicon glyphicon-earphone"></span>
          400-091-5180
        </a>
      </div>
    </div>
    <div id="title_row" class="row">
      <div class="col-md-7">
        <div id="title_pic" class="col-md-3">
          <a href="/">
            <%=image_tag('logo.jpg')%>
          </a>
        </div>
        <div id="title_col" class="col-md-9" >
          <div role="tabpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" ><a href="#home" aria-controls="home" role="tab" data-toggle="tab">全部商品</a></li>
              <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">合作设计师</a></li>
              <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">工作坊</a></li>
              <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">定制服务</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="搜索">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div id="See_us"class="col-md-2">
        <div class="col-md-8">
          <button type="button" class="btn btn-default " >
            <h4>关注我们：
              <!--<img src="Image/wechat.png">-->
            </h4>
          </button>
        </div>
        <div class="col-md-4">
          <a href="#">
            <!--<img src="Image/wechat.png">-->
            <%=image_tag("wechat.png")%>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="columns">
    <div id="main">
      <!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
      <!-- START_HIGHLIGHT -->
    </div>
  </div>
  <div id="web_tail" class="container">
    <div id="web_tail_content" class="container">
      <div class="row">
        <div id="tail_1" class="col-md-3">
          <h4>
            <strong>购物须知</strong>
          </h4>
          <h5>
            3D打印物品按需制作，在您订单确认后，我们将即时进行打印制作，并在10个工作日之内发货。
          </h5>
        </div>
        <div id="tail_2" class="col-md-3">
          <h4>
            <strong>定制服务</strong>
          </h4>
          <h5>
            我们支持个性化的定制需求，如果您有很好的设计想法却又暂时无法制作出实物，可以联系我们，我们将为您提供专业的设计咨询及辅助服务。
          </h5>
        </div>
        <div id="tail_3" class="col-md-3">
          <h4>
            <strong>联系我们</strong>
          </h4>
          <h5>
            ADD丨地址：上海市沪太路951号H951创意园1-E08<br>
            P.C.丨邮编：200072<br>
            TEL 丨电话：+86 21 61205170<br>
            EMAIL：INFO@PRIEO.COM
          </h5>
        </div>
        <div id="tail_4" class="col-md-3">
          <h4>
            <strong>关注我们</strong>
          </h4>
          <h5>
            <%= image_tag ("sina_black.png")%>
            <%= image_tag ("wechat_black.png")%>
          </h5>
        </div>
      </div>
      <h5>
        © 2013-2016 prieo.com 版权所有        沪ICP备13009579 号-1
      </h5>
    </div>
  </div>
</body>
</html>