<!-- START:head -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head lang="en">
  <!-- START_HIGHLIGHT -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
  <title>Pragprog Books Online Store</title>
  <!-- END_HIGHLIGHT -->
  <link href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
  <%= javascript_include_tag :"share_tool.js" %>
  <!--<link href="One.css" rel="stylesheet">-->
  <%=stylesheet_link_tag "One.css" %>
<body>
  <div class="container" id="one">
    <div id="title_row" class="row">
      <div class="col-md-9">
        <div id="title_pic" class="col-md-2">
          <a href="/">
            <%= image_tag 'logo.png',:height=>'40px'%>
          </a>
        </div>
        <div id="title_col" class="col-md-9" >
          <div class="col-md-2 title_unit">
              <span class="title_unit_pic col-md-3">
                <%=image_tag 'button_buy.png'%>
              </span>
              <span class="title_unit_content col-md-9">
                <span class="title">买点不同</span>
                <span class="second_title"><br>全部商品</span>
              </span>
          </div>
          <div class="col-md-2 title_unit">
              <span class="title_unit_pic col-md-3">
                <%=image_tag 'button_rand.png'%>
              </span>
              <span class="title_unit_content col-md-9">
                <span class="title">来点不同</span>
                <span class="second_title"><br>趣味购物</span>
              </span>
          </div>
          <div class="col-md-2 title_unit">
              <span class="title_unit_pic col-md-3">
                <%=image_tag 'button_des.png'%>
              </span>
              <span class="title_unit_content col-md-9">
                <span class="title">找点不同</span>
                <span class="second_title"><br>合作设计师</span>
              </span>
          </div>
          <div class="col-md-2 title_unit">
              <span class="title_unit_pic col-md-3">
                <%=image_tag 'button_make.png'%>
              </span>
              <span class="title_unit_content col-md-9">
                <span class="title">做点不同</span>
                <span class="second_title"><br>定制服务</span>
              </span>
          </div>
          <div class="col-md-2 title_unit">
              <span class="title_unit_pic col-md-3">
                <%=image_tag 'button_learn.png'%>
              </span>
              <span class="title_unit_content col-md-9">
                <span class="title">学点不同</span>
                <span class="second_title"><br>3D打印工作室</span>
              </span>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="Edit_title_up col-md-6" >
            <span class="title_unit_pic col-md-3">
                <%=image_tag 'Button_cart.png'%>
              </span>
            <span class="title_unit_content col-md-9">
              <a href="/store/display_cart" class="title">
                购物车<span id="total_product_num">0</span>件
              </a>
            </span>
          </div>
          <div class="Edit_title_up col-md-6" >
              <span class="title_unit_pic col-md-3">
                <%=image_tag 'Button_Reg.png'%>
              </span>
              <span class="title_unit_content col-md-9">
                  <% if current_user %>
                <%= link_to('退出', destroy_user_session_path, :method => :delete, :class=>"title") %> |
                      <%= link_to('修改', edit_registration_path(:user), :class=>"title") %>
                <% else %>
                <%= link_to('注册', new_registration_path(:user), :class=>"title") %> |
                      <%= link_to('登录', new_session_path(:user), :class=>"title") %>
                <% end %>
              </span>
          </div>
      </div>
    </div>
  </div>
  <div id="columns">
    <div id="main">
      <!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
      <!-- START_HIGHLIGHT -->
    </div>
  </div>


  <!-- 悬浮窗口-->
  <div id="adver_all" class="container">
    <nav id="adver" class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="collapse navbar-collapse" >
        <ul class="nav navbar-nav">
          <li><a href="#" class="nav_butt"><%=image_tag 'Button_back.png'%></a></li>
          <li><a href="javascript:;"onclick="share_change()" class="nav_butt"><%=image_tag 'Button_share.png'%></a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    <nav id="share" class="navbar-fixed-bottom share_close" >
      <div class="share_head">
          <span class="title">
            分享
          </span>
          <span id="butt_close" onclick="share_close()" >
            <%=image_tag 'Button_close.png', :height=>'12px'%>
          </span>
      </div>
      <div class="share_body">
        <div class="col-md-3 share_unit">
          <a class="share_butt" href="http://api.bshare.cn/share/sinaminiblog?url=http%3A%2F%2Fwww.prieo.com%2F&amp;title=发现一个好东东，大家一起分享：&amp;summary=prieo">
            <%=image_tag 'share/sina_icon.png'%>
            <p>新浪微博</p>
          </a>
        </div>
        <div class="col-md-3 share_unit">
          <a class="share_butt" href="http://api.bshare.cn/share/renren?url=http%3A%2F%2Fwww.prieo.com%2F&amp;title=发现一个好东东，大家一起分享：&amp;summary=prieo">
            <%=image_tag 'share/ren_icon.png'%>
            <p>人人网</p>
          </a>
        </div>
        <div class="col-md-3 share_unit">
          <a class="share_butt" href="http://api.bshare.cn/share/kaixin001?url=http%3A%2F%2Fwww.prieo.com%2F&amp;title=发现一个好东东，大家一起分享：&amp;summary=prieo" >
            <%=image_tag 'share/kx_icon.png'%>
            <p>开心网</p>
          </a>
        </div>
        <div class="col-md-3 share_unit">
          <a class="share_butt" href="http://api.bshare.cn/share/douban?url=http%3A%2F%2Fwww.prieo.com%2F&amp;title=发现一个好东东，大家一起分享：&amp;summary=prieo">
            <%=image_tag 'share/db_icon.png'%>
            <p>豆瓣</p>
          </a>
        </div>
        <div class="col-md-3 share_unit">
          <a href="#" data-toggle="modal" data-target="#myModal" class="share_butt">
            <%=image_tag 'share/wx_icon.png'%>
            <p>微信</p>
          </a>
        </div>
        <div class="col-md-3 share_unit">
          <a class="share_butt" href="http://api.bshare.cn/share/qqmb?url=http%3A%2F%2Fwww.prieo.com%2F&amp;title=发现一个好东东，大家一起分享：&amp;summary=prieo">
            <%=image_tag 'share/t_qq_icon.png'%>
            <p>腾讯微博</p>
          </a>
        </div>
        <div class="col-md-3 share_unit">
          <a class="share_butt" href="http://api.bshare.cn/share/qzone?url=http%3A%2F%2Fwww.prieo.com%2F&amp;title=发现一个好东东，大家一起分享：&amp;summary=prieo">
            <%=image_tag 'share/qzone_icon.png'%>
            <p>QQ空间</p>
          </a>
        </div>
        <div class="col-md-3 share_unit">
          <a href="#" data-toggle="modal" data-target="#myModal" class="share_butt">
            <%=image_tag 'share/ewm_icon.png'%>
            <p>二维码</p>
          </a>
        </div>

      </div>
    </nav>
    <div class="modal fade in" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
              <!--<span aria-hidden="true">&times;</span>-->
            <!--</button>-->
            <!--<h4 class="modal-title" id="myModalLabel">Modal title</h4>-->
          <!--</div>-->
          <div class="modal-body">
            <h5>用微信扫描二维码，分享到朋友圈！</h5>
            <%=image_tag 'share/qrcode.png'%>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="web_tail" class="container">
    <div id="web_tail_content" class="container">
      <div class="row">
        <div id="tail_1" class="col-md-3">
          <h4>
            <strong>购物须知</strong>
          </h4>
          <h5>
            3D打印物品按需制作，在您订单确认后，我们将即时进行打印制作，并在10个工作日之内发货。
          </h5>
        </div>
        <div id="tail_2" class="col-md-3">
          <h4>
            <strong>定制服务</strong>
          </h4>
          <h5>
            我们支持个性化的定制需求，如果您有很好的设计想法却又暂时无法制作出实物，可以联系我们，我们将为您提供专业的设计咨询及辅助服务。
          </h5>
        </div>
        <div id="tail_3" class="col-md-3">
          <h4>
            <strong>联系我们</strong>
          </h4>
          <h5>
            ADD丨地址：上海市沪太路951号H951创意园1-E08<br>
            P.C.丨邮编：200072<br>
            TEL 丨电话：+86 21 61205170<br>
            EMAIL：INFO@PRIEO.COM
          </h5>
        </div>
        <div id="tail_4" class="col-md-3">
          <h4>
            <strong>关注我们</strong>
          </h4>
          <h5>
            <%= image_tag ("sina_black.png")%>
            <%= image_tag ("wechat_black.png")%>
          </h5>
        </div>
      </div>
      <h5>
        © 2013-2016 prieo.com 版权所有        沪ICP备13009579 号-1
      </h5>
    </div>
  </div>
</body>
</html>